deploy:
  image:
    name: bitnami/kubectl:latest
    entrypoint: ['']
  script:
    - kubectl config get-contexts
    - kubectl config use-context teste/teste:dev
    - kubectl get pods --all-namespaces
    - kubectl create secret gitlab-pull-secret regcred --docker-server=htttps://gitlab.mn.sipam.gov.br:5050 --docker-username=gitlab --docker-password=4saZMFyA62v23tr72NFo
    - kubectl apply -f manifests/nginx.yaml
    - kubectl apply -f manifests/ingress.yaml
    
