docker-build-php-fpm: # Name of the Job
  # Official docker image.
  image: docker:latest
  stage: build # Define the stage as build
  # Activates docker-in-docker service, which makes Docker able to run within a Docker environment
  services: 
    - docker:dind
  # Login to registry before pushing the image
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD"
  script:
    # Pull the latest/tagged image before building it from Dockerfile context
    - docker build --pull -t "index.docker.io/sultanahmad/fpm:v1" ./fpm-build/
    # Push the image to the docker registry
    - docker push "index.docker.io/sultanahmad/fpm:v1"
  only:
    - image-build

docker-build-nginx:
  # Official docker image.
  image: docker:latest
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD"
  script:
    - docker build --pull -t "index.docker.io/sultanahmad/nginx:v1" ./nginx-build/
    - docker push "index.docker.io/sultanahmad/nginx:v1"
  only:
    - image-build