stages:
   - deploy-dev
   - deploy-prod

deploy-dev:
  tags:
    - dev
  stage: deploy-dev
  image:
    name: gitlab.mn.sipam.gov.br:5050/teste/registry/kubectl:v1
    entrypoint: ['']
  script:
    - kubectl config use-context teste/teste:dev
    - kubectl get pods --all-namespaces
    - kubectl get secret gitlab-pull-secret || kubectl --namespace default create secret docker-registry gitlab-pull-secret --docker-server=https://gitlab.mn.sipam.gov.br:5050 --docker-username=gitlab --docker-password=4saZMFyA62v23tr72NFo
    - kubectl apply --force -f manifests/nginx.yaml
    - kubectl apply -f manifests/configmap.yaml
    - kubectl apply -f manifests/ingress.yaml
  only:
    - main   

deploy-prod:
  tags:
    - prod
  stage: deploy-prod
  image:
    name: gitlab.mn.sipam.gov.br:5050/teste/registry/kubectl:v1
    entrypoint: ['']
  script:
    - kubectl config use-context teste/teste:prod
    - kubectl get pods --all-namespaces
    - kubectl get secret gitlab-pull-secret || kubectl --namespace default create secret docker-registry gitlab-pull-secret --docker-server=https://gitlab.mn.sipam.gov.br:5050 --docker-username=gitlab --docker-password=4saZMFyA62v23tr72NFo
    - kubectl apply --force -f manifests/nginx.yaml
    - kubectl apply -f manifests/configmap.yaml
    - kubectl apply -f manifests/ingress.yaml
  only:
    - main 