deploy:
  #image:
  #  name: alpine-latest
  #  entrypoint: ['']
  before_script:
    - git lfs install
    - echo $HOME
    - echo $KUBECONFIG
    - echo $KUBE_URL
    - mkdir -p $HOME/.kube
    - echo -n $KUBECONFIG > $HOME/.kube/config
    - kubectl get pods -A
  script:
    - kubectl config use-context teste/teste:dev
    - kubectl get pods --all-namespaces
    - kubectl get secret gitlab-pull-secret || kubectl --namespace default create secret docker-registry gitlab-pull-secret --docker-server=https://gitlab.mn.sipam.gov.br:5050 --docker-username=gitlab --docker-password=4saZMFyA62v23tr72NFo
    - kubectl apply -f manifests/nginx.yaml
    - kubectl apply -f manisfests/configmap.yaml
    - kubectl apply -f manifests/ingress.yaml
    
