deploy:
  image:
    name: bitnami/kubectl:latest
    entrypoint: ['']
  script:
    - kubectl config get-contexts
    - kubectl config use-context teste/teste:dev
    - kubectl get pods --all-namespaces
    - kubectl apply -f manifests/nginx.yaml
    - kubectl apply -f manifests/ingress.yaml
    
