apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nginx-ingress
  namespace: default
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - nginxtest.mn.sipam.gov.br
  rules:
  - host: nginxtest.mn.sipam.gov.br
    http:
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: my-nginx-svc
              port: 
                number: 80
